{% include header.html %}

    <div class="review-page">
        <div class="wrap">
            {% if page.header_image %}
            <img class="header" src="{{ page.header_image }}" alt="{{ page.header_image_alt }}">
            {% endif %}

            <a href="/?search={{ page.category | downcase }}" class="category">{{ page.category }}</a>
            <h2>{{ page.title }}</h2>

            <div class="info">
                <div class="panel">
                    <p class="title">Distillery</p>
                    <p>{{ page.distillery }}</p>
                </div>
                <div class="panel">
                    <p class="title">Type</p>
                    <p>{{ page.type }}</p>
                </div>
                <div class="panel">
                    <p class="title">Region</p>
                    <p>{{ page.region }}</p>
                </div>
                <div class="panel">
                    <p class="title">Age</p>
                    <p>{{ page.age }}</p>
                </div>
                <div class="panel">
                    <p class="title">Price</p>
                    <p>{{ page.price }}</p>
                </div>
                <div class="panel">
                    <p class="title">ABV</p>
                    <p>{{ page.abv }}</p>
                </div>
            </div>

            <div class="content">
                {{ content }}
            </div>
            
            <p><span class="date">Published {{ page.date | date: '%B %d, %Y' }}{% if page.author %} by {{ page.author }}{% endif %}</span></p>
        </div>
    </div>

{% include related.html %}
{% include footer.html %}
